.container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.mat-table {
  width: 100%;
}

mat-chip-set {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}